* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
    background-blend-mode: hue;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
}

h1  {
    font-weight:bold;
    font-size:xx-large;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
    color:aliceblue;
}

h1 strong {
    display: block;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
    text-align: center;
    font-size: small;
    opacity: 0.75;
    color: aliceblue;
    font-style: italic;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
    font-weight: bold;
    font-size: large;
    color: lightskyblue;
}

h2 strong {
    display: inline;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
    text-align: center;
    font-size: 70%;
    color: inherit;
    font-style: italic;
    padding-top: 10px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

body {
    background-color: whitesmoke; 
    font-size: small;
}

ul {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
    font-family: Avenir, Helvetica Neue, Segoe UI, sans-serif;
    line-height: 150%;
    list-style-type: disc;
    text-align: left;
}

div {
    text-align: justify;
    font-size: small; 
}
p {
    text-align: inherit;
    font-size: small;
    font-family: Avenir, Segoe UI, Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    width: 80%;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.5px solid darkgray;
    box-shadow: 0 0 5px 5px lightgray;
}

/* Tried using span then textarea disabled with div to ignore code snippets in HTML that I wanted to display as regular text on the webpage inline with the rest of the text, but neither option got it to display on one line. Both cause the text to display in a two-line box. Leaving this here to return to at a later time.

span {
    display: inline-block;
}

div {
    display: inherit;
    font-family: inherit;
    font-size: inherit;
    background: none;
    outline: none;
    border: none;
    resize: none;
}

textarea {
    display: inline;
    font-family: inherit;
    font-size: inherit;
    background: none;
    outline: none;
    border: none;
    resize: none;
*/